* {
  /*universal selector*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins',sans-serif;
}
body {
  background-color:  rgb(41, 1, 41);
  color: white;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items:center ;
  height: 100px;
  background-color: rgb(68, 2, 68);
}
nav ul{
  display: flex;
  justify-content: center;
}
nav ul li{
  list-style: none;
  margin: 0 23px;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
nav ul li a:hover{
  color: pink;
  font-size: 1.01rem;
}
main hr{
  border: 0;
  background:rgb(98, 47, 64);
  height: 1.2px;
  margin: 60px 84px;
}
.left{
  font-size: 1.5rem;
}
.firstsection{
   display: flex;
   justify-content: space-around;
   margin:130px 0;
}
.firstsection > div{
   width: 35%;
}
.leftsection{
  font-size: 3rem;
  font-weight: 100;
}
.leftsection h2{
  font-size: 1.2rem;
  font-weight:100 ;
}
.leftsection .btn{
  padding: 12px;
  background: rgb(68, 2, 68);
  color: white;
  border: 1.5px solid rgb(166, 163, 163);
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}
.leftsection .btn:hover{
  background-color: rgb(88, 2, 88);
  color: white;
  cursor: pointer;
}
.rightsection img{
  width: 80%;
  margin: 50px 0;
  border-radius: 50%;
}
.pink{
  color: rgb(255, 129, 171);
}
.pic{
  width: 80%;
  margin: 50px 0;
}
a{
  color: rgb(236, 146, 19);
}
a:hover{
  color: rgb(241, 178, 89);
}
.secondSection{
  max-width: 80vw;
  margin: auto;
}